body{
    background-color: hsl(0, 0%, 8%);
}
.intro{
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    width: 25%;
    height: 90%;
    border-radius: 10px;
    position: relative;
    top: 13.5%;
    bottom: 0px;
    left: 40%;
    font-size: 87.5%;
    font-family: sans-serif;
    color: hsl(0, 0%, 100%);
    img{
        width: 34.5%;
        margin-top: 2.5%;
    }
    h1{
       margin-bottom:  0.34%;
    }
    h3{
        color: hsl(75, 94%, 57%);
        margin-bottom: 3.4%;
        margin-top: 0.51%;
    }
    .f{
        margin-bottom: 4.32%;
    }
}
.div1{
    height: 600px;
}

.outro{
    text-align: center;
    color: white;
}

.linkage{
    background-color: hsl(0, 0%, 20%);
    padding: 10px;
    border-radius: 5px;
    margin: 12px;
    width: 70%;
    margin-left: 12.3%;
}

.linkage:hover{
    background-color:  hsl(75, 94%, 57%) ;
    color: black;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
}
